body{
background: rgb(79, 79, 209);
font: normal 15pt Arial;
}
header
{
color: white;
text-align: center;
}
footer
{
color: white;
text-align: center;
font-style: italic;
}
section
{
background: rgb(238, 238, 238);
border-radius: 10px;
padding: 15px;
width: 500px;
margin:auto;
box-shadow: 5px 5px 10px rgb(41, 40, 40);
}
div {
    text-align: center;
    padding: 8px;
}